<div class="mainass" fxFlex="100">
  <h1>CONTACT FOrMS</h1>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
      <h3>Separated they live in Bookmarksgrove right at</h3>
      <h3>the coast of the Semantics, a large language</h3>
      <h3>ocean.</h3>

      <p>A small river named Duden flows by their place and</p>
      <p>
        supplies it with the necessary regelialia. It is a
      </p>
      <p>paradisematic country, in which roasted parts of sentences</p>
      <p>fly into your mouth.</p>
      &nbsp;
      <p>A small river named Duden flows</p>
      <p>It is a paradisematic country</p>
      <p>Roasted parts of sentences fly</p>
    </div>
    <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
      <img src="../../../assets/img/dogger_img_big_1.jpg" />
    </div>
  </div>
</div>
