<div class="mainass" fxFlex="100">
  <h1 Align="center">CONTACT FORMS</h1>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
      <p>Should i stop letting my dog sleep with me at night?</p>
      <p>Is it okay to dress up your dog?</p>
      <p>why do dogs like belly rubs so much?</p>
      <p>is a warm dry nose a sign of illeness in dogs?</p>
    </div>
    <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
      <img src="../../../assets/images/undraw-career-progress-ivdb.png" />
    </div>
  </div>
</div>
