<section fxLayoutAlign="center">
  <div>
    <div>
      <div class="heading" align="center">
        <h1>OUR TRAINERS</h1>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and
        </p>
        <p>Consonantia, there live the blind texts.</p>
      </div>
      <div class="cards">
        <div fxLayout="row wrap" fxLayoutAlign="center">
          <ng-container *ngFor="let items of content">
            <div class="card">
              <img src="{{ items.img }}" alt="img-part" class="new-img" />
              <div class="card-body">
                <h2>{{ items.name }}</h2>
                <p>{{ items.para }}</p>
                <button mat-button>Read More</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div fxLayout="row " fxLayoutAlign="center center">
    <mat-card>
      <img src="../../../assets/images/mithaliraj.png" />
      <h3>MithaliRaj</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown
      </p></mat-card
    >
    &nbsp;
    <mat-card>
      <img src="../../../assets/images/mithaliraj.png" />
      <h3>MithaliRaj</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown
      </p></mat-card
    >
    <mat-card>
      <img src="../../../assets/images/mithaliraj.png" />
      <h3>MithaliRaj</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown
      </p></mat-card
    >
  </div> -->
