<div class="our">
  <h1>OUR TRAINERS</h1>
  <p>
    Far far away, behind the word mountains, far from the countries Vokalia and
  </p>
  <p>Consonantia, there live the blind texts.</p>
  <div fxLayout="row " fxLayoutAlign="center center">
    <mat-card>
      <img src="../../../assets/images/mithaliraj.png" />
      <h3>MithaliRaj</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown
      </p></mat-card
    >
    &nbsp;
    <mat-card>
      <img src="../../../assets/images/mithaliraj.png" />
      <h3>MithaliRaj</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown
      </p></mat-card
    >
    <mat-card>
      <img src="../../../assets/images/mithaliraj.png" />
      <h3>MithaliRaj</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown
      </p></mat-card
    >
  </div>
</div>
