section {
  background-color: rgb(220, 245, 220);
}

.card {
  height: auto;
  max-width: 450px;
  padding: 0px;
  margin: 20px;
  background-color: rgb(220, 245, 220);
  box-shadow: 0px 5px 5px 5px rgba(199, 235, 204, 0.5);
}

.new-img {
  height: 400px;
  max-width: 450px;
}

.card-body {
  padding: 20px;
  max-width: 250px;
}

.card-body h2 {
  color: #20509e;
  text-align: center;

  font-weight: 200;
  font-size: 20px;
}
button {
  color: blue;
}
button:hover {
  background-color: cyan;
}
