<div>
  <div class="ma" fxFlex="100">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
        <img src="../../../assets/img/dogger_img_sm_1.jpg" />
      </div>
      <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
        <p>❖ Maintains a current real estate license.</p>
        <p>
          ❖ Completes all required Continuing Education requirements to keep
          license current.
        </p>
        <p>❖ Renew license as scheduled according to local requirements.</p>
        <p>❖ Submits referral clients through the RRR portal.</p>
        <button mat-button>Read More</button>
      </div>
    </div>
  </div>
</div>
