<div class="care">
  <h1>WELCOME TO DOGGER PET CARE</h1>
  <p>Far far away, behind the word mountains, far from the countries Vokalia</p>
  <p>and Consonantia, there live the blind texts.</p>
</div>
<!-- first -->
<div class="care1">
  <div class="care2">
    <h1>Love & Care</h1>
    <p>Far far away, behind the word mountains, Separated they</p>
    <p>live in Bookmarksgrove right at the coast of the Semantics,</p>
    <p>a large language ocean.</p>
    <button>Read More</button>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
        <mat-card class="card"
          ><img src="../../../assets/images/undraw-career-progress-ivdb.png"
        /></mat-card>
      </div>
    </div>
  </div>
</div>
<!-- second -->
<div class="care3">
  <div fxLayout="row wrap" fxLayoutAlign="space-aroun between">
    <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
      <mat-card class="card1"
        ><img src="../../../assets/images/undraw-quitting-time-dm-8-t.png"
      /></mat-card>
    </div>
  </div>
  <div class="care2">
    <h1>Beautiful</h1>
    <p>Far far away, behind the word mountains, Separated they</p>
    <p>live in Bookmarksgrove right at the coast of the Semantics,</p>
    <p>a large language ocean.</p>
    <button>Read More</button>
  </div>
  <!-- third -->
  <div class="care2">
    <h1>Beautiful</h1>
    <p>Far far away, behind the word mountains, Separated they</p>
    <p>live in Bookmarksgrove right at the coast of the Semantics,</p>
    <p>a large language ocean.</p>
    <button>Read More</button>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
        <mat-card class="card"
          ><img src="../../../assets/images/undraw-career-progress-ivdb.png"
        /></mat-card>
      </div>
    </div>
  </div>
</div>
