<!-- <div fxLayoutAlign="center">
  <div class="care" Align="center">
    <h1>WELCOME TO DOGGER PET CARE</h1>
    <p>
      Far far away, behind the word mountains, far from the countries Vokalia
    </p>
    <p>and Consonantia, there live the blind texts.</p>
  </div>

  <div class="mainass" fxFlex="100">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
        <h2>LOVE & CARE</h2>
        <p>❖ Make appointments, Show property</p>
        <p>
          ❖ Provide advice to Buyers or Sellers regarding price, negotiating
          strategy, or repair strategy
        </p>
        <p>❖ Write offers, Attend any inspections</p>
        <p>❖ Interfere with any active real estate professional</p>
        <p>
          ❖ Pay fees to any local real estate board, MLS, or Realtor Association
        </p>
        <p>❖ Pay E&O</p>
        <button mat-button>Read more</button>
      </div>
      <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
        <div Align="center">
          <img src="../../../assets/img/dogger_img_sm_3.jpg" />
        </div>
      </div>
    </div>
  </div>
</div> -->
<div fxLayoutAlign="center" fxFlex.sm="50" f>
  <div>
    <div class="content" Align="center">
      <h1>WELCOME TO DOGGER PET CARE</h1>
      <p>
        Far far away, behind the word mountains, far from the countries Vokalia
      </p>
      <p>and Consonantia, there live the blind texts.</p>
    </div>
    <div class="love-care-part">
      <div fxLayout="row wrap" fxLayoutAlign="center">
        <div class="love-care">
          <h2>LOVE & CARE</h2>
          <p>❖ Make appointments, Show property</p>
          <p>
            ❖ Provide advice to Buyers or Sellers regarding price, negotiating
            strategy, or repair strategy
          </p>
          <p>❖ Write offers, Attend any inspections</p>
          <p>❖ Interfere with any active real estate professional</p>
          <p>
            ❖ Pay fees to any local real estate board, MLS, or Realtor
            Association
          </p>
          <p>❖ Pay E&O</p>
          <button mat-button>Read more</button>
        </div>
        <div class="love-img">
          <img src="../../../assets/img/dogger_img_sm_3.jpg" />
        </div>
      </div>
    </div>
    <div class="love-care-part">
      <div fxLayout="row wrap" fxLayoutAlign="center">
        <div class="love-img">
          <img src="../../../assets/img/dogger_img_sm_3.jpg" />
        </div>
        <div class="love-care">
          <h2>LOVE & CARE</h2>
          <p>❖ Make appointments, Show property</p>
          <p>
            ❖ Provide advice to Buyers or Sellers regarding price, negotiating
            strategy, or repair strategy
          </p>
          <p>❖ Write offers, Attend any inspections</p>
          <p>❖ Interfere with any active real estate professional</p>
          <p>
            ❖ Pay fees to any local real estate board, MLS, or Realtor
            Association
          </p>
          <p>❖ Pay E&O</p>
          <button mat-button>Read more</button>
        </div>
      </div>
    </div>
    <div>
      <div fxLayout="row wrap" fxLayoutAlign="center">
        <div class="love-care">
          <h2>LOVE & CARE</h2>
          <p>❖ Make appointments, Show property</p>
          <p>
            ❖ Provide advice to Buyers or Sellers regarding price, negotiating
            strategy, or repair strategy
          </p>
          <p>❖ Write offers, Attend any inspections</p>
          <p>❖ Interfere with any active real estate professional</p>
          <p>
            ❖ Pay fees to any local real estate board, MLS, or Realtor
            Association
          </p>
          <p>❖ Pay E&O</p>
          <button mat-button>Read more</button>
        </div>
        <div class="love-img">
          <img src="../../../assets/img/dogger_img_sm_3.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
